.modal-content {
  border: 2px solid #fdc889;
}

.modal_header {
  background: #fff3e5;
  height: 35px;
  border-style: none;
}

.modal_body {
  background: #fff3e5;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #fdc889;
}

.modal_footer {
  background: #fff3e5;
  border-style: none;
}

#Modal_summit {
  width: 90px;
  height: 45px;
  border-radius: 10px;
  background: #04b700;
  border: 2px none #007c14;
  color: #ffffff;
}

.btn-primary.disabled, .btn-primary:disabled {
  border: none;
}
