.div_a {
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: end;
}

.Add_icon {
  width: 30px;
  height: 30px;
  margin-top: 7px;
  margin-right: 12px;
  color: #7f502b;
}

.Method_box {
  width: 150px;
  height: 160px;
  margin-bottom: 10px;
}

.Method_icon {
  width: 55px;
  height: 50px;
}

.Method_name {
  font-size: 21px;
  padding-top: 11px;
}

#brew_button {
  background: #ffeeb0;
  width: 94px;
  height: 37px;
  margin-top: -6px;
  border-radius: 13px;
  border-width: 2px;
  border-color: #7f502b;
  margin-right: 15px;
}

#fbrew_button {
  background: #ffffff;
  width: 94px;
  height: 37px;
  margin-top: -6px;
  border-radius: 13px;
  border-width: 2px;
  border-color: #7f502b;
  margin-right: 15px;
}

#fav_button {
  background: #ffffff;
  margin-top: -6px;
  width: 94px;
  height: 37px;
  padding-top: 6px;
  border-radius: 13px;
  border-width: 2px;
  border-color: #7f502b;
  margin-left: 15px;
  justify-content: center;
  align-items: center;
}

#ffav_button {
  background: #ffeeb0;
  margin-top: -6px;
  width: 94px;
  height: 37px;
  padding-top: 6px;
  border-radius: 13px;
  border-width: 2px;
  border-color: #7f502b;
  margin-left: 15px;
  justify-content: center;
  align-items: center;
}

.mcard {
  background: #fff3e5;
  border-radius: 27px;
  width: 150px;
  height: 150px;
  color: #955c18;
  border-width: 2px;
  border-color: #fdc889;
}

#search_contrainer {
  padding-top: 60px;
  padding-bottom: 20px;
  width: 720px;
  max-width: 100%;
}

#search_input {
  border-radius: 10px 0px 0px 10px;
  border-width: 1px;
  border-color: #8e8e8e;
}

#search_button {
  border-radius: 0px 10px 10px 0px;
  border-width: 1px;
  border-color: #8e8e8e;
  background: #a48e76;
  color: #601616;
  z-index: 0;
}

#favorite_contrainer1 {
  width: 720px;
  max-width: 100%;
  margin-bottom: 15px;
  background: #ffd2c9;
  border-radius: 15px;
  border: 2px solid #ff9680;
}

#favorite_contrainer2 {
  width: 720px;
  max-width: 100%;
  margin-bottom: 15px;
  background: #fff3e5;
  border-radius: 15px;
  border: 2px solid #fdc889;
}

.method_title1 {
  color: #b8443d;
  font-size: 18px;
  font-weight: bold;
}

.method_title2 {
  color: #d37d1a;
  font-size: 18px;
  font-weight: bold;
}

#fcard1 {
  background: #ffd2c9;
  border-style: none;
  border-radius: 0px;
  border-top: 1px solid #ffffff;
}

#fcard2 {
  background: #fff3e5;
  border-style: none;
  border-radius: 0px;
  border-top: 1px solid #ffc887;
}

.fcard_body {
  padding-top: 6px;
  padding-bottom: 6px;
}

.recipe_title1 {
  max-width: 300px;
  max-height: 120px;
  color: #a80800;
  font-size: 20px;
  font-weight: 400;
  overflow: hidden;
}

.recipe_title2 {
  max-width: 300px;
  max-height: 120px;
  color: #b66303;
  font-size: 20px;
  font-weight: 400;
  overflow: hidden;
}

#Tool_icon {
  color: #757575;
  font-size: 20px;
}

#Tool_Faved {
  color: #ff0000;
  font-size: 20px;
}

#Tool_Shared {
  color: #00b2ff;
  font-size: 20px;
}

#recipelist_container {
  padding-top: 80px;
  width: 730px;
  max-width: 100%;
}

#Fav_Tool_color {
  background: #bc000000;
  max-width: 120px;
}

#Tool_color {
  background: #bc000000;
}

#method_result_card {
  border-radius: 15px;
  background: #fff3e5;
  border: 2px solid #fdc889;
  margin-bottom: 5px;
}

.method_result_col {
  text-align: center;
  max-width: 90px;
  height: 55px;
}

.method_result_ico {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.method_result_ico_border {
  width: 50px;
  height: 50px;
  background: #ffffff;
  border-radius: 50%;
  border: 2px solid #955c18;
}

