.Error_div {
  max-width: 400px;
  max-height: 400px;
  margin-right: 40px;
  margin-left: 40px;
}

.Errormain {
  font-size: 30px;
  text-align: center;
  color: #a7612a;
  font-weight: bold;
  margin-top: -5px;
  margin-bottom: -5px;
}

.Errorsub {
  font-size: 15px;
  text-align: center;
  color: #ba8254;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

#back_main_btn {
  background: #ffd39f;
  color: #7f502b;
  border: 2px solid #7f502b;
  height: 50px;
  width: 195px;
  margin-top: 25px;
  padding-top: 10px;
}

#back_main_btn2 {
  background: #ffd39f;
  color: #7f502b;
  border: 2px solid #7f502b;
  height: 50px;
  width: 120px;
  margin-top: 25px;
}

