.LoginBG {
  background-image: url("../../public/assets/img/BG1.png");
  background-position: 40% 50%;
  height: 100vh;
  max-height: 100%;
}

#Login_container {
  width: 350px;
}

.LoginCard {
  border-style: none;
  border-radius: 18px;
}

.Div1 {
  margin-bottom: 25px;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
}

#Toplogin_buttonL {
  background: #bc000000;
  color: #955c18;
  font-size: 20px;
  font-weight: bold;
  border-style: none;
  margin-right: 14px;
}

#Toplogin_buttonR {
  background: #0d6efd00;
  color: #444444;
  font-size: 20px;
  font-weight: bold;
  border-style: none;
  margin-right: 14px;
}

#Topregister_buttonL {
  background: #0d6efd00;
  color: #444444;
  font-size: 20px;
  font-weight: bold;
  border-style: none;
  border-color: #202020;
}

#Topregister_buttonR {
  background: #0d6efd00;
  color: #955c18;
  font-size: 20px;
  font-weight: bold;
  border-style: none;
  border-color: #202020;
}

.pic1 {
  width: 2px;
  margin-right: 10px;
  margin-left: 10px;
  height: 37.85px;
}

.pic2 {
  box-shadow: 0px 0px 2px 0px #121212;
  width: 30px;
  border-radius: 15px;
  border-style: none;
  margin-bottom: 10px;
}

.pic3 {
  width: 150px;
  height: 150px;
}

.InputDiv1 {
  border-style: none;
  background: #e0e0e0;
  width: 295px;
  height: 40px;
  border-radius: 11px;
  margin-bottom: 10px;
  align-items: center;
}

.InputDiv2 {
  border-style: none;
  background: #e0e0e0;
  width: 295px;
  height: 40px;
  border-radius: 11px;
  margin-bottom: 26px;
  align-items: center;
}

.fa.fa-user.icon, .fa.fa-lock.icon, .fa.fa-envelope.icon {
  margin-top: 0px;
  margin-left: 11px;
  color: #787878;
  margin-right: 5px;
}

.Inputform {
  border-style: none;
  background: #e0e0e0;
  width: 256.8px;
  height: 36px;
  padding: 6px 12px;
}

.SkipDiv {
  margin-left: 24px;
  margin-right: 0px;
  padding-right: 0px;
  margin-bottom: 90px;
  align-items: end;
}

.SkipDiv2 {
  margin-left: 24px;
  margin-right: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  align-items: end;
}

#Confirm_Button {
  background: #fdc889;
  border-style: none;
  min-width: 135px;
  height: 50px;
  color: #955c18;
  font-weight: bold;
  border-radius: 11px;
  font-size: 18px;
  margin-left: 57px;
  justify-content: center;
  align-items: center;
}

.skiplog {
  margin-left: 20px;
  font-size: 12px;
  color: rgb(184,85,13);
  min-width: 72px;
}

.logdiv {
  height: 100vh;
  width: 100vw;
}

