#index_button {
  background: #ffeeb0;
  width: 94px;
  height: 37px;
  margin-top: -6px;
  border-radius: 13px;
  border-width: 2px;
  border-color: rgb(127,80,43);
  margin-right: 15px;
}

#findex_button {
  background: #ffffff;
  width: 94px;
  height: 37px;
  margin-top: -6px;
  border-radius: 13px;
  border-width: 2px;
  border-color: rgb(127,80,43);
  margin-right: 15px;
}

#shop_button {
  background: #ffffff;
  margin-top: -6px;
  width: 94px;
  height: 37px;
  padding-top: 6px;
  border-radius: 13px;
  border-width: 2px;
  border-color: rgb(127,80,43);
  margin-left: 15px;
}

#fshop_button {
  background: #ffeeb0;
  margin-top: -6px;
  width: 94px;
  height: 37px;
  padding-top: 6px;
  border-radius: 13px;
  border-width: 2px;
  border-color: rgb(127,80,43);
  margin-left: 15px;
}

#search_input2 {
  border-width: 1px;
  border-color: #8e8e8e;
}

#search_button2 {
  border-width: 1px;
  border-color: #8e8e8e;
  background: #a48e76;
  color: #601616;
}

#search_filter2 {
  background: #a48e76;
  border-width: 1px;
  border-color: #8e8e8e;
}

#method_bar {
  width: 720px;
  max-width: 100%;
  height: 100px;
  background-color: #ffeece;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 0px solid #a48e76;
  border-top-width: 3px;
  border-top-color: #a48e76;
  border-right-width: 2px;
  border-right-color: #a48e76;
  border-bottom-width: 3px;
  border-bottom-color: #a48e76;
  border-left-width: 2px;
  border-left-color: #a48e76;
}

.Page_Head {
  width: 720px;
  max-width: 100%;
  margin-top: 20px;
}

.Page_Head #Page_Head_text {
  margin-bottom: -15px;
  color: #955c18;
}

.method_box {
  background: #9e838100;
  width: 80px;
  height: 80px;
  margin-bottom: 0px;
  padding-left: 38px;
}

.Method_pic {
  width: 60px;
  background: #ffffff;
  border-radius: 50%;
  border: 2px solid rgb(255,184,0);
  height: 60px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 6px;
  margin-left: 6px;
}

#results_container {
  width: 720px;
  max-width: 100%;
  min-height: 350px;
  max-height: 70vh;
  overflow: auto;
  margin-bottom: 40px;
}

#shop_container {
  width: 720px;
  max-width: 100%;
  min-height: 350px;
  max-height: 79vh;
  overflow: auto;
  margin-bottom: 40px;
}

.Recipe_card {
  margin-bottom: 10px;
  background: rgb(164,142,118);
  border-radius: 15px;
}

#Result_mpic {
  width: 135px;
  border-radius: 5px;
}

#Result_main {
  background: #ffffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
  min-height: 110px;
}

#Result_interaction {
  background: #ffffff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
}

#Interaction_button {
  background: #00000000;
  margin-right: 5px;
  margin-left: 5px;
}

#Interaction_icon {
  color: #8f8f8f;
  font-size: 20px;
}

#Interaction_star_checked {
  color: #ffb800;
  font-size: 20px;
}

#Interaction_like_checked {
  color: #ff7777;
  font-size: 20px;
}

#Result_title {
  text-align: center;
  margin-bottom: 0px;
  color: #212529;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.Result_description {
  color: #212529;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#Result_spic {
  width: 230px;
  height: 145px;
  border-radius: 5px;
}

#Result_smain {
  background: #ffffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}

#Result_shead {
  margin-bottom: 0px;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.pricetag {
  color: rgb(245,114,36);
  font-size: 20px;
}

.fas.fa-star.star_check {
  color: #ffb800;
}

.fas.fa-star.star_uncheck {
  color: #6a6a6a;
}

#Result_rating {
  padding-left: 6px;
  font-size: 14px;
}

#Radio_button {
  width: 50px;
  height: 50px;
  margin-right: -60px;
  margin-top: 4px;
  z-index: 1;
  opacity: 0;
}

#Radio_button:checked + label {
  background-color: #ffabe7;
}

#Method_selectorbox {
  width: 85px;
  height: 85px;
  background: #ffffff00;
}

#Shared_card {
  height: 540px;
  background: #fff3e5;
  border-radius: 20px;
  border: 2px solid #fdc889;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-right: -5px;
  margin-left: -5px;
}

#Shared_title {
  text-align: center;
  color: #ff4eae;
  border-radius: 10px;
  border: 1px solid #fdc889;
}

#Shared_com_field {
  border-radius: 10px;
  border: 1px solid #fdc889;
  resize: none;
}

#Interaction_d_icon {
  margin-top: 7px;
  margin-right: 12px;
  color: #7f502b;
  font-size: 25px;
}

#Interaction_d_like_icon {
  margin-top: 7px;
  margin-right: 12px;
  color: #ff4747;
  font-size: 25px;
}

#Post_comment_box {
  width: 100%;
  resize: none;
  border-radius: 10px;
  border-color: #dc6c62;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

#guide_container2 {
  background: #fff3e5;
  padding-right: 5px;
  padding-top: 5px;
  padding-left: 5px;
  border: 2px solid #fdc889;
  border-radius: 15px;
  padding-bottom: 5px;
}

.creator_avatar_icon {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  border: 1px solid #ce0c00;
  background: #ffffff;
}

.creator_avatar_name {
  color: #dc6c62;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 14px;
}

#post_comment_btn {
  border-radius: 10px;
  border: 2px solid #7f502b;
  background: #ffd39f;
  color: #7f502b;
}

#Comment_container_div {
  height: 310px;
  padding-right: 12px;
  padding-left: 12px;
  overflow: auto;
}

#Comment_display_name {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 7px;
  color: #955c18;
}

#Comment_display_comment {
  word-wrap: break-word;
  font-size: 13px;
}

.nocomment_e1 {
  font-size: 20px;
  text-align: center;
  color: #a7612a;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

.nocomment_e2 {
  font-size: 14px;
  text-align: center;
  color: #ba7b48;
}

#Shared_icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.Shared_icon_border {
  border-radius: 50%;
  border: 3px solid #fdc889;
}

