.profile_container {
  padding-top: 60px;
  width: 500px;
  max-width: 100%;
}

.profile_card {
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  background: #fddbd8;
  margin-left: -5px;
  margin-right: -5px;
  padding-top: 5px;
  margin-bottom: 20px;
  border-radius: 12px;
  height: 205px;
  border: 2px solid #dc6c62;
}

.profile_section {
  width: 220px;
  min-width: 50%;
  max-width: 100%;
}

#avatar_icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.avatar_icon_border {
  width: 80px;
  height: 80px;
  background: #ffffff;
  border-radius: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid #dc6c62;
}

#avatar_name {
  padding-left: 5px;
  font-size: 18px;
  color: #955c18;
  font-weight: bold;
}

.prow {
  width: 238px;
  margin-left: 0px;
  max-width: 100%;
  text-align: center;
}

.srow {
  margin-right: -12px;
  margin-left: -12px;
  padding-bottom: 10px;
}

.statistics_card {
  height: 58px;
  background: #ffffff;
  margin-bottom: 8px;
  border-radius: 10px;
}

.statistics_num {
  text-align: center;
  margin-bottom: 0px;
  color: rgb(139,85,43);
  font-size: 22px;
  font-weight: bold;
}

.statistics_label {
  text-align: center;
  font-size: 13px;
}

.setting_card {
  background: #fff3e5;
  border-radius: 12px;
  margin-left: 6px;
  margin-right: 6px;
  height: 85px;
  max-height: 100%;
  width: 164.8px;
  border-width: 2px;
  border-color: #fdc889;
  border-style: solid;
}

.setting_title {
  margin-top: 3px;
  color: #955c18;
  font-weight: bold;
}

.setting_label {
  color: #000000;
  font-weight: bold;
}

.setting_label2 {
  color: #000000;
  font-weight: bold;
  font-size: 14px;
}

#Eavarta_icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.Eavarta_icon_border {
  width: 136px;
  height: 136px;
  color: #6f6f6f;
  background: #ffffff;
  border-radius: 50%;
  border: 3px solid #dc6c62;
}

.Ecard {
  background: #ffffff;
  border-radius: 15px;
  height: 85px;
  padding-right: 20px;
  padding-left: 20px;
}

#Etitle {
  color: #955c18;
  font-weight: bold;
}

#Einput {
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #ffb7b7;
}

.pAvarta_input {
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #ffb7b7;
  height: 38px;
  padding-top: 4px;
}

.pAvarta_input::-webkit-file-upload-button {
  background: #ff9999;
  width: 70px;
  height: 40px;
  font-size: 12px;
  padding-left: 5px;
}

#Esubmit {
  width: 110px;
  height: 60px;
  border-radius: 10px;
  background: #04b700;
  border: 2px none #007c14;
  color: #ffffff;
}

#Ecancel {
  width: 110px;
  height: 60px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background: #ff5d5d;
  border: 2px none #9d0000;
  color: #ffffff;
  padding-top: 18px;
}

#Eprofile_card {
  background: #fddbd8;
  border-radius: 20px;
  border: 2px solid #dc6c62;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-right: -5px;
  margin-left: -5px;
}

.rank01_ico {
  width: 32px;
  border-radius: 20px;
  height: 32px;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 0px;
  margin-right: 4px;
  margin-left: 4px;
  border: 1px groove #ffd600;
}

.rank02_ico {
  width: 32px;
  border-radius: 20px;
  height: 32px;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 0px;
  margin-right: 4px;
  margin-left: 4px;
  border: 1px groove #a0a0a0;
}

.rank03_ico {
  width: 32px;
  border-radius: 20px;
  height: 32px;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 0px;
  margin-right: 4px;
  margin-left: 4px;
  border: 1px groove #a75e48;
}

